[access]
	inheritFrom = All-Projects
[project]
	description = University training courses for users, developers and any other interested parties of member and non-member companies.
[access "refs/*"]
	owner = group ldap/onap-gerrit-university-committers
	owner = group saml/onap-gerrit-university-committers
	read = group GitHub Replication
